#main-header {
    background-size: cover;
    height: 33vh;
    background-position: 50% 20%;
    padding: 1.5%;
    background-attachment: fixed;

    @media #{$xlscreen} {
        background-image: url(../../images/headerbackground_XL.jpg);
    }

    @media #{$lscreen} {
        background-image: url(../../images/headerbackground_L.jpg);
    }

    @media #{$mscreen} {
        background-image: url(../../images/headerbackground_M.jpg);
    }

    @media #{$sscreen} {
        background-image: url(../../images/headerbackground_M.jpg);
    }

    .profilepic {
        width: 60px;
        height: 60px;
        margin-right: 5%;
        margin-top: 60px;
    }
}

#title {
    color: #fff;
    padding-top: 10px;
    padding-right: 5%;
    text-shadow: 2px 2px 5px #000;
    text-align: right;
    clear: both;

    h1 {
        font-size: 2.6rem;
        line-height: 32px;
        margin-top: 30px;
        margin-bottom: 15px;

        @media #{$sscreen} {
            font-size: 2rem;
            padding-left: 15%;
        }

        small {
            font-size: .85rem;
            font-family: $fontPrimary;
        }
    }

    #header_subline {
        font-size: .7rem;
        margin: 0;
        font-family: $fontPrimary;
        font-style: italic;

        @media #{$sscreen} {
            padding-left: 15%;
        }
    }

    section {
        background: transparent;
    }
}



// Special styles for frontpage
.frontpage {
    #main-header {
        height: 70vh;
        background-position: 50% top;
    }

    #title {
        h1 {
            font-size: 3rem;
            line-height: 35px;
            margin-top: 0;
            margin-bottom: 15px;
            padding-left: 15%;


            @media #{$sscreen} {
                font-size: 2.5rem;
            }

            small {
                font-size: 1.125rem;

                @media #{$sscreen} {
                    font-size: 1rem;
                }
            }
        }

        h2 {
            i {
                &:before {
                    padding: 0 3px;
                    display: inline-block;
                    margin-top: 5px;
                    opacity: .8
                }
            }
        }
    }

    #main-navigation {
        background: transparent;
        box-shadow: none;
        position: fixed;
        top: 5px;
    }
}