/* _sections.scss */
.box {
    font-family: 'PT Mono', monospace;
    line-height: 150%;
    padding: 1%;
    color: #41140E;
    background-color: #fff;
    border: 2px solid #BF4D0E;
    margin: 10px auto;
    max-width: 90%;

    a {
        color: #BF4D0E;
    }
}