/* _sections.scss */
.box {
    font-family: $fontPrimary;
    line-height: 150%;
    padding: 1%;
    color: $colorDark;
    background-color: $colorWhite;
    border: 2px solid $colorAccent;
    margin: 10px auto;
    max-width: 90%;

    a {
        color: $colorAccent;
    }
}

main {
    position: relative;
    background-color: #f4ede1;

    section {
        padding-top: 30px;
        padding-bottom: 30px;
        background-color: $colorSecondary;
        background-repeat: repeat;

        &:after {
            clear: both;
            content: '';
            display: block;
            width: 100%;
        }

        .main_wrapper {
            max-width: 1200px;
            margin: auto;
        }
    }

    .section_wrapper {
        padding: 1.5% 2%;
    }

    .sectionheading {
        color: $colorAccent;
        font-size: 2.625rem;
        margin: 42px 0 23px;
    }
}

code {
    display: block;
    font-size: .7rem;
    padding: 15px;
    background-color: #111;
}

iframe {
    width: 100%;
    border: none;
    overflow: auto hidden;
}

td {
    &.yr {
        font-weight: bold;
    }
}

.pagetitle {
    padding: 50px 0;
    text-align: right;
    color: $colorAccent;
    font-size: 18px;
    margin: 0 10% 0;
    font-family: $fontPrimary;
    font-weight: normal;
    text-transform: uppercase;
    width: 100%;
    margin: auto;
    max-width: 1200px;

    em {
        font-family: $fontHeadline;
        font-size: 2.6rem;
        font-style: normal;
        text-transform: none;
    }
}

.main_wrapper {
    margin: auto;
    max-width: 1280px;
}

.accordionContent {
    height: 0;
    overflow: hidden;
}

.button {
    background-color: $colorAccent;
    color: $colorTertiary;
    padding: 1% 1%;
    display: inline-block;
    margin: 8px 0;
    line-height: 1.15;
    border: none;
    transition: all 0.5s;
    min-width: 220px;
    position: relative;

    &:hover {
        padding: 6px 16px;
        border: none;
        color: #000;
    }

    em {
        font-style: normal;
        font-family: $fontHeadline;
        font-size: 1.75rem;
    }
}

.legend {
    float: right;
    padding: 6px 12px;
    font-size: 9px;
    background-color: transparent;
    border: 1px solid #F9ED4D;
    color: #F9ED4D;
    opacity: .7;
    margin-top: 20px;
}

.legend {
    h4 {
        margin-top: 0;
    }

    ul {
        padding: 0;
        margin: 0;
    }

    li {
        list-style-type: none;
        font-size: 10px;
    }

    .fas {
        float: left;
        width: 20px;
    }

    .desc {
        display: inline;
    }

    li {
        display: block;
        clear: both;
    }
}

.skillList {
    list-style-type: none;
    padding-left: 0;
    min-width: 200px;

    .fas {
        float: right;
    }

    li {
        border-bottom: 1px dotted #F9ED4D;
        padding: 5px;
    }
}

.language {
    .flexboxitem {
        border: 1px solid #fff;
    }

    .fas {
        margin-left: 20px;
    }
}