$colorDark: #41140E;
$colorLight: #F5EDDF;
$colorAccent: #BF4D0E;
$colorSecondary:#F4DCAF;
$colorTertiary:#F9ED4D;
$colorFontLight:#666;
$colorWhite: #fff;

$fontPrimary: 'PT Mono',
monospace;
$fontHeadline: 'Great Vibes',
cursive;