/*----------------------
Accordion
-----------------------*/

.accordion {
    position: relative;
    margin-bottom: 1px;
    width: 100%;
    color: #fff;
    overflow: hidden;
    clear: both;
}

.accordion input {
    position: absolute;
    opacity: 0;
    z-index: -1;
    padding: 0;
    margin: 0;
}

.accordion label {
    position: relative;
    display: block;
    padding: 0 0 0 1em;
    font-weight: bold;
    line-height: 2em;
    cursor: pointer;
    width: 96%;
    background-color: transparent;
    color: #F9ED4D;
    border: 1px solid #BF4D0E;
}

.accordion-content {
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height .35s;
    -o-transition: max-height .35s;
    transition: max-height .35s;
}

.accordion input:checked~.accordion-content {
    max-height: 9000px;
    padding-bottom: 25px;
}

.accordion label::after {
    float: right;
    padding-right: 20px;
}

.accordion input[type=checkbox]+label::after {
    content: "+";
}

.accordion input[type=radio]+label::after {
    content: "\25BC";
}

.accordion input[type=checkbox]:checked+label::after {
    transform: rotate(315deg);
}

.accordion input[type=radio]:checked+label::after {
    transform: rotateX(180deg);
}


/*----------------------
tabs
-----------------------*/
.tabset {
    position: relative;
    height: 550px;
    padding-bottom: 25px;
}

.tab {
    margin-bottom: 1px;
    width: auto;
    color: #fff;
    overflow: hidden;
    display: inline-block;
}

.tab input {
    position: absolute;
    opacity: 0;
    z-index: -1;
    padding: 0;
    margin: 0;
}

.tab label {
    position: relative;
    float: left;
    padding: 0 0 0 1em;
    font-weight: bold;
    line-height: 2em;
    cursor: pointer;
    width: auto;
    background-color: rgba(191, 77, 13, 0.7);
    color: #F9ED4D;
    border: 1px solid #BF4D0E;
}

.tab input:checked~label {
    color: #BF4D0E;
    background-color: rgba(249, 237, 77, 0.8);
}

.tab-content {
    visibility: hidden;
    width: 100%;
    overflow: auto;
    -webkit-transition: max-height .35s;
    -o-transition: max-height .35s;
    transition: max-height .35s;
    position: absolute;
    top: 40px;
    left: 0;
    border-top: 1px solid #BF4D0E;
    border-bottom: 1px solid #BF4D0E;
}

.tab input:checked~.tab-content {
    max-height: 500px;
    padding: 1%;
    visibility: visible;

}

.tab label::after {
    float: right;
    padding-right: 20px;
}

.tab input[type=checkbox]+label::after {
    content: "+";
}

.tab input[type=radio]+label::after {
    content: "\25BC";
}

.tab input[type=checkbox]:checked+label::after {
    transform: rotate(315deg);
}

.tab input[type=radio]:checked+label::after {
    transform: rotateX(180deg);
}

.tab input[type=radio]+label::after {
    content: "";
}

.tab .button {
    transition: none;
}

.inverse .tab .button:hover {
    padding: 1%;
    background-color: #BF4D0E;
    color: #F9ED4D;
}

.tab .button::after {
    display: none;
}

.tab .gitCode {
    max-height: 440px;
    overflow: auto;
}

/*______________________
Code display
-----------------------*/

.code {
    background: #222;
    font-size: 11px;
    line-height: 14px;
    white-space: pre-wrap;
    padding: 15px;
}

/*----------------------
Contact Form
-----------------------*/

fieldset {
    border: 1px solid #BF4D0E;
    margin: 20px 0;
}

legend {
    padding: 3px 7px;
    background-color: #BF4D0E;
    color: #F9ED4D;
}

label {
    display: inline-block;
    width: 33%;
    margin: 5px 0;
}

lable[for="message"] {
    width: 100%;
}


label.textarea {
    width: 95%;
}

input[type="checkbox"] {
    width: auto;
    margin: 0 5px;
}

input[type="text"],
select {
    width: 64%;
}

textarea {
    width: 95%;
    padding: 2.5%;
    height: 150px;
}

input[type="text"],
select,
textarea {
    padding: 0.5%;
    box-shadow: none;
    color: #BF4D0E;
}

input:focus,
select:focus,
textarea:focus {
    background-color: #F9ED4D;
}

input[type="submit"] {
    width: auto;
    background-color: #BF4D0E;
    color: #F9ED4D;
    border: none;
    margin: auto;
    transition: all 1s;
    display: block;
    padding: 10px 20px;
}

input[type="submit"]:hover {
    color: #BF4D0E;
    background-color: #F9ED4D;
}

/*---------------------------
Special CSS for checkbox
----------------------------*/

label.checkbox {
    width: 100%;
    max-width: 200px;
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */

.checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: transparent;
    border: 1px solid #ddd;
}

/* On mouse-over, add a background color */

.checkbox:hover input~.checkmark {
    background-color: #F9ED4D;
    border-color: #F9ED4D;
}

/* When the checkbox is checked, add an orange background */

.checkbox input:checked~.checkmark {
    background-color: #BF4D0E;
    border-color: #BF4D0E;
}

/* Create the checkmark/indicator (hidden when not checked) */

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */

.checkbox input:checked~.checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */

.checkbox .checkmark:after {
    left: 6px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid #F9ED4D;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* End of special styles for Checkbox */

/*----------------------
Footer
------------------------*/

#main-footer {
    background-color: #f4ede1;
    padding: 20px;
    border-top: 1px solid #d1be9c;
}


ul#social-navigation {
    padding: 0;
    margin: 0;
    text-align: center;
}

ul#social-navigation li {
    display: inline-block;
    line-height: 50px;
}

ul#social-navigation li a {
    padding: 8px;
    font-size: 38px;
    border: none;
    transition: all 0.5s;
    line-height: 50px;
    display: inline-block;
    border-radius: 50%;
    background-color: transparent;
    width: 42px;
    height: 42px;
}

ul#social-navigation li:hover a {
    color: #F9ED4D;
    font-size: 38px;
    line-height: 42px;
    background-color: #BF4D0E;

}

ul#social-navigation li:hover a .fa,
ul#social-navigation li:hover a .fas,
ul#social-navigation li:hover a .fab {
    transform: rotate(15deg)
}

#meta-menu {
    background-color: #000;
    font-size: 9px;
    font-family: 'PT Mono', monospace;
    text-align: center;
    padding: 0;
}

#meta-menu ul {
    padding: 0;
    margin: 0;
}

#meta-menu li {
    display: inline;
    list-style-type: none;
    padding: 0 5px;
    border-right: 1px solid #ccc;
}

#meta-menu li:last-child {
    border: none;
}

#meta-menu a {
    color: #fff;
    transition: all 1s;
    padding: 8px;
    display: inline-block;
}

#meta-menu a:hover {
    border: none;
    color: #333;
    background: #fff;
}

.validation {
    padding: 15px;
    font-size: 13px;
    text-align: center;
}

.validation a {
    padding: 5px 15px;
    display: inline-block;
    border: 1px solid #BF4D0E;
    color: #BF4D0E;
    background-color: #fff;
    transition: all 0.5s;
}

.validation a:hover {
    color: #fff;
    background-color: #BF4D0E;
}


/*-----------------------
Responsive
-------------------------*/

@media screen and (min-width:1025px) {
    #main-header {
        background-image: url(../images/headerbackground_XL.jpg);
    }
}

@media screen and (min-width:841px) and (max-width:1024px) {
    #main-header {
        background-image: url(../images/headerbackground_L.jpg);
    }
}

@media screen and (min-width:541px) and (max-width:840px) {
    #main-header {
        background-image: url(../images/headerbackground_M.jpg)
    }
}

@media screen and (max-width:541px) {
    #main-header {
        background-image: url(../images/headerbackground_M.jpg);
    }


    #main-navigation {
        background: transparent;
        box-shadow: none;
        position: fixed;
        top: 5px;
        max-width: 150px;
        overflow: visible;
    }

    #main-navigation ul.hmenu {
        margin: 0 8px;
        height: auto;
        padding: 0;
    }

    #main-navigation ul.bubblemenu li,
    #main-navigation ul li {
        display: block;
        margin: 15px 0;
        height: 42px;
        max-width: 160px;
    }

    #main-navigation ul li a {
        height: 30px;
        padding: 7px;
        background-color: rgba(191, 77, 13, 0.7);
        color: #F9ED4D;
        box-shadow: 0 0 5px #fff;
        width: 30px;
        border-radius: 20px;
        transition: all 0.5s;
        display: inline-block;
        white-space: nowrap;
        overflow: hidden;
        text-align: right;
    }

    #main-navigation ul li a:focus,
    #main-navigation ul li a:hover,
    #main-navigation ul li a:active {
        background-color: rgba(249, 237, 77, 0.8);
        width: 170px;
    }

    #main-navigation ul li ul.sub-menu {
        background-color: rgba(249, 237, 77, 0.8);
    }

    #main-navigation ul li.current a,
    #main-navigation ul li ul.sub-menu li a {
        background-color: rgba(249, 237, 77, 0.8);
        color: #41140E;
    }

    #main-navigation ul li.hasChildren:after {
        display: none;
    }


    #main-navigation ul.bubblemenu li a i {
        font-size: 25px;
        line-height: 30px;
        display: none;
    }

    #main-navigation ul li a:before {
        font-size: 25px;
        line-height: 30px;
        padding-left: 2px;
        font-family: FontAWesome;
        margin-right: 12px;
        float: left;
    }

    #main-navigation ul li:first-child a:before {
        content: '\f015';
    }

    #main-navigation ul li:nth-child(2) a:before {
        content: '\f2bc';
    }

    #main-navigation ul li:nth-child(3) a:before {
        content: '\f022';
    }

    #main-navigation ul li:nth-child(4) a:before {
        content: '\f121';
    }

    #main-navigation ul li:nth-child(5) a:before {
        content: '\f1d8';
    }

    #main-navigation ul li .sub-menu li a:before {
        content: '';
    }

    #main-container #main-navigation ul li:hover a {
        width: 170px;
        color: #41140E;
    }

    #main-navigation ul li a .menuitemdesc {
        display: none;
        transition: all 0.4s;
        font-size: 15px;
        line-height: 30px;
        margin-left: 10px;
        transition: all 0.5s;
        width: 30px;
        color: #BF4D0E;
    }

    #main-navigation ul li:hover a .menuitemdesc {
        display: block;
        float: right;
        width: auto;
        margin-right: 6px;
    }


    #main-navigation ul ul.sub-menu {
        background: rgba(249, 237, 77, 0.7);
        top: 40px;
        border: none;
        box-shadow: none;
        width: auto;
        z-index: 99;
    }

    #main-navigation ul ul.sub-menu li {
        margin: 0;
        padding: 0;
        height: auto;
    }

    #main-navigation ul ul.sub-menu li a {
        border-radius: 0;
        width: 100%;
        background-color: transparent;
        color: #41140E;
        height: 20px;
        line-height: 20px;
        box-shadow: none;
        border: none;
        padding: 10px;
        text-align: left;
    }

    #main-navigation ul ul.sub-menu li a:hover {
        background-color: rgba(191, 77, 13, 0.7);
        color: #fff;
    }

    .sectionheading {
        text-align: right;
        padding-right: 3%;
    }

    .flexbox {
        display: block;
    }

    #home_code .flexboxitem,
    #home_skills .flexboxitem,
    #code_wordpress .flexboxitem {
        max-width: 430px;
        margin: auto;
        width: 70%;
        float: right;
        margin-left: 23%;
        margin-right: 2%;
        margin-top: 10px;
        margin-bottom: 10px;
    }


    #code_wordpress .flexboxitem:hover,
    #home_code .flexboxitem:hover {
        width: 72%;
    }

    .box,
    .boxleft,
    .boxright {
        margin-left: 23%;
        margin-right: 2%;
        margin-top: 10px;
        margin-bottom: 10px;
        max-width: 72%;
    }

    #home_skills figcaption {
        font-size: 1.6em;
    }

    #home_skills a:hover figcaption {
        font-size: 2.3em;
    }

    .language .flexboxitem {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .tabset .tab {
        display: block;
    }

    .tabset .tab label,
    .accordion label {
        display: block;
        width: 92%;
    }

    .tabset .tab-content {
        top: 150px;
    }
}