#main-container #main-navigation ul li:hover a {
    width: 170px;
    color: #41140E;
}

#main-navigation ul li a .menuitemdesc {
    display: none;
    transition: all 0.4s;
    font-size: 15px;
    line-height: 30px;
    margin-left: 10px;
    transition: all 0.5s;
    width: 30px;
    color: #BF4D0E;
}

#main-navigation ul li:hover a .menuitemdesc {
    display: block;
    float: right;
    width: auto;
    margin-right: 6px;
}


#main-navigation ul ul.sub-menu {
    background: rgba(249, 237, 77, 0.7);
    top: 40px;
    border: none;
    box-shadow: none;
    width: auto;
    z-index: 99;
}

#main-navigation ul ul.sub-menu li {
    margin: 0;
    padding: 0;
    height: auto;
}

#main-navigation ul ul.sub-menu li a {
    border-radius: 0;
    width: 100%;
    background-color: transparent;
    color: #41140E;
    height: 20px;
    line-height: 20px;
    box-shadow: none;
    border: none;
    padding: 10px;
    text-align: left;
}

#main-navigation ul ul.sub-menu li a:hover {
    background-color: rgba(191, 77, 13, 0.7);
    color: #fff;
}

.sectionheading {
    text-align: right;
    padding-right: 3%;
}